header {
  padding: 15px 30px;
  box-shadow: 0px 1px 1px rgb(149, 165, 166);
  margin-bottom: 5px;
  height: 75px;
  background: #2f3542;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
